{% block page_content %}
{% set owner_username = doc.owner %}
{% set owner = frappe.get_doc('User', owner_username) %}

<style>
   /* notice_row.css */

.notice-container {
    border: 1px solid #3498db;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease; /* Add a subtle transform on hover */
}

.notice-container:hover {
    transform: translateY(-5px); /* Lift the notice on hover */
}

.notice-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice-content {
    margin-top: 15px;
}

.notice-title {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.notice-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover; /* Maintain aspect ratio for the image */
}

.notice-meta {
    color: #777;
    font-size: 14px;
}

/* Style the "Read Notice" button */
.notice-read-button {
    background-color: #3498db; /* Change to blue */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;  /* Add smooth transitions for color change, transform, and text color */
}

/* Change button color on hover */
.notice-read-button:hover {
    background-color: #e74c3c;  /* Change to red on hover */
}

</style>

<div class="notice-container">
    <div class="notice-header">
        <p class="notice-meta">{{ owner.username }} - {{ frappe.format_date(doc.creation) }}</p>
        <p class="notice-meta"><a href="{{ doc.route }}" class="notice-read-button">Read Notice</a></p>
    </div>
    <div class="notice-content">
        <p class="notice-title font-weight-bolder"><img src="{{ owner.user_image }}" class="notice-image" alt="{{ owner.username }}"> {{ doc.title or doc.name }}</p>
        <hr>
    </div>
</div>

{% endblock %}

